@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');

        span.own1{
            background: black;
            /*border: 5px solid #DFDFDF;*/
            color: white;
            font-size: 13px;
            height: 0px;
        	width: 5rem;
                overflow:hidden;
                 -webkit-transition: all 0.2s linear;
                 -moz-transition: all 0.2s linear;
                 -o-transition: all 0.2s linear;
                transition: all 0.2s linear;
            letter-spacing: 1px;
            line-height: 20px;
            position:absolute;
            text-align: center;
            text-transform: uppercase;
            top: auto;
            margin-bottom:100px;
            padding:0 0px; 
        }
        
        div.own{
            margin:0px;
            position:relative;
            cursor:pointer;
            font-family: EB Garamond;
        }
        
        p {
            font-family: EB Garamond;
        }

        div.own:hover span{
            display:block;
                margin-bottom:5rem;
                height:2rem;
                padding-bottom: 1rem;
        }


